body {
  margin: 0;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 1.5;
  color: #333333;
  text-transform: uppercase;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.main-container {
  width: 1200px;
  margin: 0 auto;
  box-shadow: 
    0 0 20px 5px #dedede; 
}

.header {
  position: relative;
  background-color: #ffffff;
}

.main-navigation {
  line-height: 1.86;
  font-weight: bold;
  position: relative;
  padding-top: 1px;
}

.site-navigation {
  display: flex;
  justify-content: space-between;
  padding: 0;
}

.site-navigation li:first-of-type {
  margin-left: 73px;
  margin-right: 147px;
}

.site-navigation li:nth-of-type(2) {
  margin-right: auto;
}

.site-navigation li:nth-last-of-type(2) {      
  margin-left: auto;
}

.site-navigation li:last-of-type {
  margin-right: 73px;
  margin-left: 163px;
}

.site-navigation li {
  list-style: none;
}

.site-navigation a {
  color: #000000;
}

.site-navigation a:hover {
  color: #81b3d2;
}

.site-navigation a:active {
  color: rgba(0, 0, 0, 0.3);
}

a.active {
  color: #766357;
}

.main-header-logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

.background-picture {
  background-image: url("../img/background_photo.jpg");
  background-color: #4e555a;
  background-repeat: no-repeat;
  height: 512px; 
  margin-bottom: 58px; 
}

.another-size-a {
  font-size: 21px;
  line-height: 1.24;
  font-weight: bold;
  color: #000000;
  text-align: center;
  margin-bottom: 27px;
}

.another-size-b {
  line-height: 26px;
  text-align: center;
  margin-bottom: 51px;
} 

.another-size-c {
  font-size: 30px;
  line-height: 1.2;
  font-weight: bold;
  color: #000000;
  text-align: center;
  margin: 0;
  margin-bottom: 25px;
}

.another-size-d {
  line-height: 1.71;
  text-align: center;
  margin: 0;
  margin-bottom: 48px;
}

.container-block {
  display: flex;  
}

.container-block:first-of-type {
  margin-bottom: 56px;
}

.real-city {
  background-image: url(../img/first_adv.jpg);
  background-repeat: no-repeat;
  background-size: cover; 
  flex: 1;
}

.devil-bridge {
  background-image: url(../img/second_adv.jpg);
  background-repeat: no-repeat;
  background-size: cover; 
  flex: 1;
}

.adv-item-first {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 46px;
  padding-bottom: 61px;
}

.adv-item-second {
  order: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 43px;
  padding-bottom: 62px;
}

.feature-item {
  text-align: center;
}

.adv-item,
.adv-item-first,
.adv-item-second {
  text-align: center;
  width: 400px;
}

ul.features {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 70px;
  padding: 0;
}

.feature-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
}

.features svg {
  height: 76px;
}

.feature-item:first-of-type {
  margin-left: 73px;
  margin-right: auto;
}

.feature-item:last-of-type {
  margin-right: 63px;
  margin-left: auto;
}

.adv-items {
  display: flex;
  background-color: #eeeeee;
  margin: 0;
  margin-bottom: 50px;
  flex: 1;
}

.adv-item {
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: center; 
  padding-top: 30px;
  padding-bottom: 64px;
}

.adv-items .number,
.adv-item-first .number,
.adv-item-second .number {
  margin-bottom: 20px;
}

.adv-items p,
.adv-item-first p,
.adv-item-second p {
  margin: 0;
}

.adv-item-second h3 {
  font-size: 21px;
  line-height: 1;
  margin: 0;
  margin-bottom: 24px;
}

.adv-item-first h3 {
  font-size: 21px;
  line-height: 1;
  margin: 0;
  margin-bottom: 24px;
}

.adv-item h3,
.feature-item h3 {
  font-size: 21px;
  line-height: 1;
  font-weight: bold;
  color: #000000;
  margin-bottom: 24px;
}

.adv-item-first,
.adv-item-second {
  color: #ffffff;
  background-color: #81b3d2;
}

.adv-item-first h3,
.adv-item-second h3 {
  font-size: 21px;
  font-weight: bold;
}

.feature-item {
  list-style: none;
}

.mini-block {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search-block {
  position: relative;
}

button.search {
  font-size: 21px;
  line-height: 1.24;
  font-weight: bold;
  background-color: #766357;
  color: #ffffff;
  text-transform: uppercase;
  border-style: none;
  padding: 30px 139px;
}

button.search:hover {
  background-color: #604e43;
}

button.search:active {
  background-color: #503e33;
  color: #928a85;
}

.short-search {
  display: flex;
  justify-content:space-between;
  align-items: stretch;
  position: absolute;
  background-color: #ffffff;
  padding: 55px;
  left: 0;
  right: 0;
  display: none;
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100;
  }
}

.short-search-open {
  display: block;
  animation-name: appear;
  animation-duration: 2s;
  position: absolute;
}

.short-search fieldset {
  padding: 0;
  margin: 0;
}

.short-search fieldset,
.normal-search fieldset {
  border-style: none;
}

.short-search label {
  font-size: 14px;
  line-height: 1.86;
  font-weight: bold;
  color: #000000;
}

.short-search input[type="text"] {
  background-color: #f2f2f2;
  color: #000000;
  font-weight: bold;
  text-transform: uppercase;
}

.date input[type="text"] {
  border-style: none;
  padding: 14px 179px 14px 12px;
  margin-left: 21px;
}

.date label {
  white-space: nowrap;
}

div.date:first-of-type {
  margin-bottom: 29px; 
}

div.date:nth-of-type(2) {
  margin-bottom: 30px; 
}

.amount input[type="text"] {
  width: 38px;
  height: 38px;
  padding: 0;
  border-style: none;
  text-align: center;
}

.amount {
  display: flex;
  align-items: center;
}

.amount-block {
  display: flex;
  justify-content: space-between;
  margin-bottom: 54px; 
}

.adults label {
  margin-right: 41px;
}

.children label {
  margin-right: 27px;
}

.date {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

div.date {
  margin: 0; 
}

button.calendar {
  border-style: none;
  position: absolute;
  padding: 0;
  right: 64px;
  vertical-align: middle;
  background-color: #f2f2f2;
}

button.plus,
button.minus {
  display: inline-block;
  background-color: #f2f2f2;
  width: 38px;
  height: 38px;
  border-style: none;
}

.short-search input[type="text"]:hover {
  background-color: #ebebeb;
}

.short-search input[type="text"]:focus {
  background-color: #ffffff;
}

.short-search input[type="submit"] {
  background-color: #81b3d2;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  text-transform: uppercase;
  color: #ffffff;
  border-style: none;
  padding: 17px 196px;
}

.short-search input[type="submit"]:hover {
  background-color: #669ec0;
}

.short-search input[type="submit"]:active {
  background-color: #5496bd;
  color: #94b9d2;
}

.footer {
  display: flex;
  width: 100%;
  box-sizing: border-box;
  justify-content: space-between;
  align-items: baseline;
  position: relative;
  padding-top: 36px;
  padding-left: 132px;
  padding-right: 101px;
  padding-bottom: 36px;
  margin-top: -120px;                                 
  background-color: rgba(255, 255, 255, 0.9); 
}

.hotel-footer {
  display: flex;
  width: 100%;
  box-sizing: border-box;
  justify-content: space-between;
  align-items: baseline;
  position: relative;
  padding-top: 36px;
  padding-left: 132px;
  padding-right: 101px;
  padding-bottom: 36px;
}

.footer a,
.hotel-footer a{
  font-size: 21px;
  line-height: 1.24;
  color: #000000;
  font-weight: bold; 
}

.footer-social {
  display: flex;
  justify-content: center;
  margin: auto;
  margin-left: 256px;
}

a.social-button {
  display: flex;
  justify-content: center;
  align-items: center;                           
}

.social-button {
  width: 46px;
  height: 48px;
  background-color: #81b3d2; 
}

.social-button:hover {
  background-color: #669ec0; 
}

.social-button:active {
  background-color: #5496bd;
}

.social-button:active path {
  fill: #88b6d1; 
}

a.social-button:nth-of-type(2) {
  margin-right: 6px;
  margin-left: 6px;
}

.footer-copyright {
  display: flex;
  align-items: center;
}

.copyright {
  line-height: 1.86;
  color: #000000;
}

a.logo-academy {
  width: 115px;
  height: 41px;
  margin-left: 8px;
}

.hotels-container {
  width: 1200px;
  margin: 0 auto;
}

form.normal-search {
  background-image: url(../img/filter_background.jpg);
  background-repeat: no-repeat;
  background-color: #454d53;
  width: 1054px; 
  height: 157px;
  padding: 30px 73px;
}

.normal-search {
  display: flex;
  justify-content: flex-start;
}

.infrastructure,
.type-of-accommodation {
  display: flex;
  flex-direction: column;
  padding: 0; 
  margin: 0;
}

.normal-search legend {
  font-size: 16px;
  line-height: 1.31;
  font-weight: bold;
  color: #ffffff;
  margin-bottom: 29px;
}

.cost-per-day legend {
  margin-bottom: 8px; 
}

.normal-search label {
  color: #ffffff;
}

.normal-search input[type="submit"] {
  font-size: 14px;
  line-height: 1.5;
  text-transform: uppercase;
  color: #ffffff;
  width: 133px;
  height: 32px;
  border: 2px solid #ffffff;
  align-self: center;
  background: transparent;
}

.normal-search input[type="submit"]:hover {
  background-color: #ffffff;
  color: #000000;
}

p.infrastructure-box,
p.accommodation-box {
  padding: 0;
  margin: 0;
  margin-bottom: 22px;
  position: relative;
}

.last-block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cost-per-day {
  padding-left: 0;
  padding-right: 0;
}

.last-block-box {
  display: flex;
  justify-content: flex-end;
  position: relative;
  max-width: 314px;
  padding: 7px 0;
  border: 2px solid #ffffff;
  margin-bottom: 13px;
}

.last-block-box::after {
  content: "";
  display: block;
  width: 2px;
  height: 22px;
  background: #ffffff;
  position: absolute;
  right: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.last-block-box label {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 50%;
}

.last-block-box input[type="text"] {
  width: 50%;
  border-style: none;
  background: transparent;
  color: #ffffff;
  padding-left: 10px;
}

.infrastructure {
  margin-right: 101px;
}

.type-of-accommodation {
  margin-right: auto;
  padding-left: 15px;
}

.infrastructure-checkbox,
.accommodation-checkbox {
  margin-left: 39px;
}

.infrastructure-checkbox input[type="checkbox"] + .checkbox-indicator,
.accommodation-checkbox input[type="checkbox"] + .checkbox-indicator {
  position: absolute;
  width: 23px;
  height: 23px;
  background: url("../img/checkbox_off.svg");
  top: 0;
  left: 0;
}

.infrastructure-checkbox input[type="checkbox"]:disabled + .checkbox-indicator,
.accommodation-checkbox input[type="checkbox"]:disabled + .checkbox-indicator {
  position: absolute;
  width: 23px;
  height: 23px;
  background: url("../img/checkbox_off_dis.svg");
  top: 0;
  left: 0;
}

.infrastructure-checkbox input[type="checkbox"]:focus + .checkbox-indicator,
.accommodation-checkbox input[type="checkbox"]:focus + .checkbox-indicator {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
}

.infrastructure-checkbox input[type="checkbox"]:checked + .checkbox-indicator::before,
.accommodation-checkbox input[type="checkbox"]:checked + .checkbox-indicator::before {
  content: "";
  position: absolute;
  display: block;
  width: 27px;
  height: 23px;
  background: url("../img/checkbox_on.svg");
  background-repeat: no-repeat;
}

.infrastructure-checkbox input[type="checkbox"]:checked:disabled + .checkbox-indicator::before,
.accommodation-checkbox input[type="checkbox"]:checked:disabled + .checkbox-indicator::before {
  content: "";
  position: absolute;
  display: block;
  width: 27px;
  height: 23px;
  background: url("../img/checkbox_on_dis.svg");
  background-repeat: no-repeat;
}

.filter-buttons {
  display: flex;
  justify-content: center;
}

.filter-line line {
  stroke: #ffffff;
  stroke-width: 2px; 
}

.after-filter-line {
  stroke: #918381;
  stroke-width: 2px; 
}

.filter-button img:hover {
  width: 22px;
  height: 24px;
  cursor: pointer;
  margin-left: -2px;
}

.results,
.hotel {
  padding: 0 73px;
}

.results {
  display: flex;
  align-items: baseline;
  margin-bottom: 29px;
  margin-top: 31px;
}

.quantity-result {
  font-size: 21px;
  line-height: 1.24;
  font-weight: bold;
  color: #000000;
  margin: 0;
  margin-right: 48px;
}

.sorting-box {
  display: flex;
  justify-content: space-between;
}

.sorting-options {
  font-size: 12px;
  line-height: 1.5;
  color: #000000;
  margin: 0;
  margin-right: 40px;
}

ul.sorting {
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 12px;
  line-height: 1.5;
}

ul.sorting li:first-of-type {
  padding-right: 34px;
}

ul.sorting li:nth-of-type(2) {
  padding-right: 34px;
}

ul.sorting a.active-sorting {
  color: #81b3d2;
  border: none;
}

ul.sorting a.active-sorting:hover {
  border-bottom: 1px dotted #81b3d2;
}

ul.sorting a.active-sorting:active {
  color: #000000;
  border-bottom: none;
}

ul.sorting a {
  color: #cacaca;
  border-bottom: 1px dotted #81b3d2;
}

ul.sorting a:hover {
  color: #81b3d2;
}

ul.sorting a:active {
  color: #000000; 
  border: none;
}

.buttons {
  display: flex;
  justify-content: space-between;
  margin-left: auto;
}

.list-up,
.list-down {
  border-style: none;
  background-color: #fefefe;
  padding: 0;
}

.list-up {
  margin-right: 12px;
}

.list-down.active-btn polyline {
  fill: #81b3d2;
}

.list-up polygon,
.list-down polyline {
  fill: #cacaca;
}

.list-up polygon:hover,
.list-down polyline:hover {
  fill: #231f20;
}

.list-up polygon:active,
.list-down polyline:active {
  fill: #81b3d2;
}

.hotels {
  display: flex;
  flex-direction: column;
}

.hotel {
  display: flex;
  justify-content: flex-start;
  border-bottom: 1px solid #e5e5e5;
  padding-top: 30px;
  padding-bottom: 27px;
}

.hotel:first-of-type {
  border-top: 1px solid #e5e5e5;
}

.hotel-photo {
  margin-right: 30px;
}

.hotel-info {
  display: flex; 
  flex: 1;
  flex-direction: column; 
}

.name-and-star {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 10px;
}

.hotel-names {
  font-size: 21px;
  line-height: 1;
  font-weight: bold;
  color: #000000;
}

.hotel-names:hover {
  color: #81b3d2;
}

.hotel-names:active {
  color: #cacaca;
}

.hotel-star {
  display: flex;
  margin-left: auto;
}

.star {
  background-image: url("../img/star.svg"); 
  background-repeat: no-repeat;
  width: 18px;
  height: 17px;
  margin-left: 6px;
}

.type-and-price {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 12px;
}

.type-and-price p,
.more-and-book p {
  margin: 0; 
}

p.type-one {
 margin-right: 39px; 
}

p.type-two {
 margin-right: 65px; 
}

p.type-three {
 margin-right: 21px; 
}

.more-and-book {
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
}

.button-more,
.button-book {
  display: flex;
  align-items: center;
  font-weight: bold;
  color: #ffffff;
  padding: 4px 13px 4px 13px;
}

.button-more {
  background-color: #81b3d2;
  margin-right: 6px;
}

.button-more:hover {
  background-color: #669ec0;
}

.button-more:active {
  background-color: #5496bd;
  color: #94b9d2;
}

.button-book {
  background-color: #766357;
  margin-right: auto;
}

.button-book:hover {
  background-color: #604e43;
}

.button-book:active {
  background-color: #503e33;
  color: #928a85;
}

.rating {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f2f2f2;
  color: #666666;
  padding: 4px 13px 4px 13px;
}

button.calendar svg {
  fill: #cacaca;
}

button.calendar:hover svg {
  fill: #000000;
}

button.calendar:active svg {
  fill: #81b3d2;
}

button.plus svg,
button.minus svg {
  stroke: #a9a9a9;
  stroke-width: 3px;
}

button.plus:hover svg,
button.minus:hover svg {
  stroke: #000000;
}

button.plus:active svg,
button.minus:active svg {
  stroke: #81b3d2;
}

a.logo-academy path {
  fill: #231f20;
}

a.logo-academy:hover path {
  fill: #81b3d2;
}

a.logo-academy:active path {
  fill: #bdbbbc;
}

.map {
  background-image: url("../img/map.jpg");
  width: 1200px;
  height: 593px;
}
