body {
  margin: 0;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 1.5;
  color: #333333;
  text-transform: uppercase;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.background-picture {
  background-image: url("../img/background_photo.jpg");
  background-repeat: no-repeat;
  width: 1200px;
  height: 565px; 
  margin-bottom: 60px;
}

.main-navigation {
  line-height: 1.86;
  font-weight: bold;
}

.site-navigation li {
  list-style: none;
}

.site-navigation a {
  color: #000000;
}

.site-navigation a:hover {
  color: #81b3d2;
}

.site-navigation a:active {
  color: rgba(0, 0, 0, 0.3);
}

a.active {
  color: #766357;
}

.another-size-a {
  font-size: 21px;
  line-height: 1.24;
  font-weight: bold;
  color: #000000;
  text-align: center;
}

.another-size-b {
  line-height: 26px;
  text-align: center;
} 

.another-size-c {
  font-size: 30px;
  line-height: 1.2;
  font-weight: bold;
  color: #000000;
  text-align: center;
}

.another-size-d {
  line-height: 1.71;
  text-align: center;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 10px;
}

.container-block {
  display: flex;
}

.container-block:first-of-type {
  margin-top: 57px;
}

.adv-item-second {
  order: 1;
  margin-bottom: 0;
}

.feature-item,
.adv-item,
.adv-item-first,
.adv-item-second {
  text-align: center;
}

.adv-item,
.adv-item-first,
.adv-item-second {
  width: 400px;
  height: 256px;
}

ul.features {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 85px;
}

.adv-items {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: #eeeeee;
}

.adv-item h3,
.feature-item h3 {
  font-size: 21px;
  font-weight: bold;
  color: #000000;
}

.adv-item-first,
.adv-item-second {
  color: #ffffff;
  background-color: #81b3d2;
}

.adv-item-first h3,
.adv-item-second h3 {
  font-size: 21px;
  font-weight: bold;
}

.feature-item {
  list-style: none;
}

.short-search {
  width: 568px;
  height: 395px;
  background-color: #ffffff;
}

.short-search fieldset {
  border-style: none;
}

.short-search label {
  font-size: 14px;
  line-height: 1.86;
  font-weight: bold;
  color: #000000;
}

button.search {
  width: 568px;
  height: 86px;
  font-size: 21px;
  line-height: 1.24;
  font-weight: bold;
  background-color: #766357;
  color: #ffffff;
  text-transform: uppercase;
  border-style: none;
}

button.search:hover {
  background-color: #604e43;
}

button.search:active {
  background-color: #503e33;
  color: #928a85;
}

.short-search input[type="text"] {
  background-color: #f2f2f2;
  color: #000000;
  font-weight: bold;
  text-transform: uppercase;
}

.date input[type="text"] {
  width: 346px;
  height: 38px;
  border-style: none;
}

.amount input[type="text"] {
  width: 38px;
  height: 38px;
  border-style: none;
  text-align: center;
}

button.calendar {
  border-style: none;
}

button.plus,
button.minus {
  background-color: #f2f2f2;
  width: 38px;
  height: 38px;
  border-style: none;
}

/*что-то пошло не так!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/

button.plus:hover,
button.minus:hover {
  color: #000000;
}

button.plus:active,
button.minus:active {
  color: #81b3d2;
}

/*что-то пошло не так!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/

.short-search input[type="text"]:hover {
  background-color: #ebebeb;
}

.short-search input[type="text"]:focus {
  background-color: #ffffff;
}

.short-search input[type="submit"] {
  width: 458px;
  height: 58px;
  background-color: #81b3d2;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  text-transform: uppercase;
  color: #ffffff;
  border-style: none;
}

.short-search input[type="submit"]:hover {
  background-color: #669ec0;
}

.short-search input[type="submit"]:active {
  background-color: #5496bd;
  color: #94b9d2;
}

.real-city {
  background-image: url(../img/first_adv.jpg);
  background-repeat: no-repeat;
  width: 800px;
  height: 256px;
}

.devil-bridge {
  background-image: url(../img/second_adv.jpg);
  background-repeat: no-repeat;
  width: 800px;
  height: 256px;
}

/*ФУТЕР             */

.footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 38px;
  margin-bottom: 36px;
}

.footer a {
  font-size: 21px;
  line-height: 1.24;
  color: #000000;
  font-weight: bold;
}

.footer-social {
  display: flex;
  flex-direction: row;
  width: 150px;
  justify-content: center;
  margin-left: 88px;
  margin-right: 88px;
  padding-left: 124px;
  padding-right: 126px;
}

.social-button {
  width: 46px;
  height: 48px;
  background-color: #81b3d2;
  text-align: center; 
}

a.social-button:nth-of-type(2) {
  margin-right: 6px;
  margin-left: 6px;
}

.copyright {
  line-height: 1.86;
  color: #000000;
}

.logo-academy {
  width: 115px;
}


/*ФУТЕР             */


form.normal-search {
  background-image: url(../img/filter_background.jpg);
  background-repeat: no-repeat;
  background-color: #454d53;
  width: 1200px;
  height: 562px;
}

.normal-search legend {
  font-size: 16px;
  line-height: 1.31;
  font-weight: bold;
  color: #ffffff;
}

.normal-search label {
  color: #ffffff;
}

.normal-search input[type="text"] {
  color: #ffffff;
  border: 2px solid #ffffff;
}

.normal-search input[type="submit"] {
  font-size: 14px;
  line-height: 1.5;
  text-transform: uppercase;
  color: #ffffff;
  width: 133px;
  height: 32px;
  border: 2px solid #ffffff;
}

.normal-search input[type="submit"]:hover {
  background-color: #ffffff;
  color: #000000;
}

.button-more,
.button-book {
  font-weight: bold;
  color: #ffffff;
}

.button-more {
  width: 110px;
  height: 27px;
  background-color: #81b3d2;
  padding: 8px 18px;
}

.button-more:hover {
  background-color: #669ec0;
}

.button-more:active {
  background-color: #5496bd;
  color: #94b9d2;
}

.button-book {
  width: 142px;
  height: 27px;
  background-color: #766357;
  padding: 8px 17px;
}

.button-book:hover {
  background-color: #604e43;
}

.button-book:active {
  background-color: #503e33;
  color: #928a85;
}

.hotel-names {
  font-size: 21px;
  line-height: 1.24;
  font-weight: bold;
  color: #000000;
}

.hotel-names:hover {
  color: #81b3d2;
}

.hotel-names:active {
  color: #cacaca;
}

td {
  vertical-align: top;
}

.rating {
  color: #666666;
}

